@model IEnumerable<SpiritLink.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpsaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basonta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConvertNameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTimerNameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastorNameNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpsaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basonta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvertNameNavigation.ConvertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTimerNameNavigation.FirstTimerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PastorNameNavigation.PastorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
